@font-face {
  font-family: 'Sweet';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sweet';
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1400px;
  height: 100%;

  margin: 100px auto;
}

.title {
  text-align: center;
  margin-top: 50px;

  font-size: 44px;
  color: #4E4E4E;
}

.filter_tab {
  width: 100%;

  display: flex;
  justify-content: end;
}

.filter_tab .tab_list {
  display: flex;
  gap: 10px;
}

.filter_tab .tab_list .tab_item {
  padding: 5px 20px;

  margin: 20px 0;

  color: #4E4E4E;

  font-weight: 800;
  font-size: 20px;

  cursor: pointer;

  transition: .3s ease;
}

.filter_tab .tab_list .tab_item.active {
  color: royalblue;
}

.filter_count{
  margin: 10px 0;
  
  font-size: 16px;
  font-weight: 600;
  color: #4E4E4E;
}

.filter_count .count{
  padding-left: 5px;
}

.card_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card_list .card {
  width: 100%;
  height: 210px;
  padding: 15px;

  border: 1px solid #EDEDED;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 3px 5px 4px #00000025;
}
.card_list .card .label{
  display: flex;
  justify-content: end;
}
.card_list .card .attendance_label {
  text-align: center;
  line-height: 40px;
  width: 100px;
  height: 40px;

  border-radius: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}
.card_list .card .attendance_label.attendance {
  background: rgb(255, 143, 63);
}
.card_list .card .attendance_label.perception {
  background: #FF5D5D;
}
.card_list .card .attendance_label.absence {
  background: #c4c4c4;
}

.card_list .card .text_wrap {}

.card_list .card .text_wrap .card_title {
  font-size: 40px;
  font-weight: 900;

  color: #DADADA;

  margin-bottom: 15px;
}

.card_list .card .text_wrap .info_wrap {}

.card_list .card .text_wrap .info_wrap .info_item {
  display: flex;
  gap: 5px;
  color: #4E4E4E;
  font-size: 20px;
  font-weight: bold;
}

.card_list .card .text_wrap .info_wrap .info_item .info_label {}

.card_list .card .text_wrap .info_wrap .info_item .info_value {}